<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bookmarkData</key>
		<data>
		Ym9vazQFAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAJAQAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGFraGlsAAAABwAAAAEB
		AABMaWJyYXJ5ABAAAAABAQAATW9iaWxlIERvY3VtZW50cxMAAAABAQAAY29t
		fmFwcGxlfkNsb3VkRG9jcwAEAAAAAQEAAE1pc2MGAAAAAQEAAFV5aXJpbAAA
		IQAAAAEBAAB1eWlyaWwgLSBsYXRlc3QgLSA5dGggLSBKdW5lLmJhbmQAAAAg
		AAAAAQYAAAQAAAAUAAAAJAAAADQAAABMAAAAaAAAAHQAAACEAAAACAAAAAQD
		AAARKgYAAAAAAAgAAAAEAwAAkYAGAAAAAAAIAAAABAMAAJaABgAAAAAACAAA
		AAQDAABGXrMCAgAAAAgAAAAEAwAAJ0W0AgIAAAAIAAAABAMAAM8scgMCAAAA
		CAAAAAQDAAAsLKMDAgAAAAgAAAAEAwAAKeClAwIAAAAgAAAAAQYAANgAAADo
		AAAA+AAAAAgBAAAYAQAAKAEAADgBAABIAQAACAAAAAAEAABBwzgMlWK9yRgA
		AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
		LwUAAAABAQAATWFjSEQAAAAIAAAABAMAAAAgiD06AAAACAAAAAAEAABBwd5E
		gAAAACQAAAABAQAANTA0NkFDNDgtRTVGMS0zMDUzLUI2NkMtN0YzMkJDN0NC
		MEYxGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
		AAAAAAAAAQUAABoAAAABAQAATlNVUkxEb2N1bWVudElkZW50aWZpZXJLZXkA
		AAQAAAADAwAApEIAAAgAAAAABAAAQcM4DJVi0iRnAAAAAQEAAC9Vc2Vycy9h
		a2hpbC9MaWJyYXJ5L01vYmlsZSBEb2N1bWVudHMvY29tfmFwcGxlfkNsb3Vk
		RG9jcy9NaXNjL1V5aXJpbC91eWlyaWwgLSBsYXRlc3QgLSA5dGggLSBKdW5l
		LmJhbmQAGQEAAAECAABkYTk4MWZmNWM1ZTk4YmZiM2VkNWRlMGI1NWQwZjZl
		N2U2MTk1ZWE2NGE4MTE5NWE2NjU5MzcyNDFlODBjYjFiOzAwOzAwMDAwMDAw
		OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxl
		LmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAwMDIw
		M2E1ZTAyOTswMTsvdXNlcnMvYWtoaWwvbGlicmFyeS9tb2JpbGUgZG9jdW1l
		bnRzL2NvbX5hcHBsZX5jbG91ZGRvY3MvbWlzYy91eWlyaWwvdXlpcmlsIC0g
		bGF0ZXN0IC0gOXRoIC0ganVuZS5iYW5kAAAAANgAAAD+////AQAAAAAAAAAR
		AAAABBAAALAAAAAAAAAABRAAAFgBAAAAAAAAEBAAAJABAAAAAAAAIBAAAIQA
		AAAAAAAAQBAAAIABAAAAAAAAQhAAAIACAAAAAAAAAiAAADwCAAAAAAAABSAA
		ALABAAAAAAAAECAAAMABAAAAAAAAESAAAPABAAAAAAAAEiAAANABAAAAAAAA
		EyAAAOABAAAAAAAAICAAABwCAAAAAAAAMCAAAEgCAAAAAAAAgPAAAAADAAAA
		AAAAAP8AAJACAAAAAAAAUAIAgHQCAAAAAAAA
		</data>
		<key>date</key>
		<string>2021-06-08 21:31:53 +0000</string>
		<key>unique-id</key>
		<string>85E7CE99-9929-4A89-BA59-123F18A2190A</string>
	</dict>
</array>
</plist>
